@import '../../../styles.scss';

.questionsNumber{
  display: flex;
  align-content: flex-end;
}
.playable{
  background: none;
  border: none;
}

button{
  display: flex;
  width: 95%;
  justify-content: center;
}
