//@import '../../../styles/card';

.questionsNumber{
  display: flex;
  align-content: flex-end;
}
.playable{
  background: none;
  border: none;
}
.button
{
  background-color: #1e98d7;
  color: white;
  font-size: 22px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.button:hover{
  background-color: #166791;
}
