@import '../../../styles.scss';

.questionsNumber{
  display: flex;
  align-content: flex-end;
}
.playable{
  background: none;
  border: none;
}

button{
  display: flex;
  width: 90%;
  justify-content: center;
}

h4{
  margin-top: 5px;
  margin-bottom: 0;
}
