<div class="switches">
    <div class="toggle-switch button">
        <p>Excentrer</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="toggle-switch button">
        <p>Contraste</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>

<div class="div-connexion">
    <label>Formulaire de connexion :</label>

    <form class="form-connexion" action="">
        <input type="text" placeholder="Nom" name="nom">
        <input type="text" placeholder="Prénom" name="prenom">
        <input class="button" type="submit" value="Se connecter">
    </form>

    <div class="toggle-switch button administration">
        <p>Administration</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

</div>
