@import '../../styles.scss';

.toggle-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.switches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch {
  margin-left: 8px
}

.div-connexion {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offset {
  margin-top: 10px;
  margin-right: $hoffset;
  display: flex;
  flex-direction: column;
}

.form-connexion {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
  text-align: center;
}

.buttons {
  padding: .3em;
  margin: 30px;
  border-radius: 30px;
}

.administration {
}

#error-message {
  margin-top: 30px;
  color: #2E03DC
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}


h2 {
  margin-top : 0;
  margin-bottom: 0;
}


