<div class="switches">
    <div class="toggle-switch">
        <p>Excentrer</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round" (click)="excentrementButton()"></span>
        </label>
    </div>

    <div class="toggle-switch">
        <h2>Grossir le texte</h2>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round" (click)="constarsteButton()"></span>
        </label>
    </div>
</div>

<div [ngClass]="excentrementButtonOn?'offset':'div-connexion'">
    <label>Formulaire de connexion :</label>

    <form class="form-connexion" [formGroup]="loginForm">
        <input type="text" placeholder="Prénom" [formControlName]="'firstName'">
        <input type="text" placeholder="Nom" [formControlName]="'lastName'">
        <input [ngClass]="{'visible' : adminButtonOn, 'hidden' : !adminButtonOn}" type="password" placeholder="Mot de passe" [formControlName]="'password'">
        <a class="buttons" (click)="logIn()">Se connecter</a>
    </form>

    <div class="toggle-switch administration" *ngIf="!contrasteButtonOn && !excentrementButtonOn">
        <label>Administration</label>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round" (click)="adminButton()"></span>
        </label>
    </div>

</div>
