@import '../../styles.scss';

.toggle-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.switches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.switch {
  margin-left: 8px
}

.div-connexion {
  margin: 10% 8% 8%;
  display: flex;
  flex-direction: column;
}

.offset {
  margin-right: $hoffset;
  display: flex;
  flex-direction: column;
}

.form-connexion {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
  text-align: center;
}

.buttons {
  padding: .3em;
  border-radius: 30px;
}

.administration {
  margin: 8%
}


