// Slider comes from : https://www.w3schools.com/howto/howto_css_switch.asp

@import "./variables";

//uh?
.card {
  background: $white;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 0 1em 1em 1em;
}

//où?
.button-card {
  background-color: $white;
  border: solid 1px $blue;
  color: $blue;
  font-weight: bold;
  padding: 0.5em 1em;
}

//où?
.button-card:hover {
  cursor: pointer;
}

//style global des boutons, couleur, font, etc
.buttons {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;

  //background-color: $button-color;
  //font-size: $button-font-size;
  //color: $button-font-color;

  background-color: $button-color;
  color: $button-font-color;
  font-size: $button-font-size;
  }

.buttons:hover{
  background-color: $button-hover-color;
}

//où?
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E72323;
}

input:focus + .slider {
  box-shadow: 0 0 1px #E72323;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button-retour {
  margin:10px;
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.button-retour:hover{
  background-color: #840101FF;
}
