// Slider comes from : https://www.w3schools.com/howto/howto_css_switch.asp

@import "./variables";

//uh?
.card {
  background: $white;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 0 1em 1em 1em;
}
