$app-background-color: #f2f2f2;
$blue: #3f51b5;
$white: white;

//variables dynamiques
$button-color: var(--button-color);
$button-hover-color: var(--button-hover-color);
$font-size: var(--font-size);
$h1-font-size: var(--h1-font-size);
$h2-font-size: var(--h2-font-size);
$h3-font-size: var(--h3-font-size);
$button-font-color: var(--button-font-color);
$font: var(--font);
