@import '../../styles.scss';

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  margin: 1em;
}

#title {
  text-align: center;
  font-size: $font-size;
  margin-top: 1em;
}
