<h1 id="title">Bienvenue sur PolyQuizz</h1>

<div [ngClass]="offset ? 'list' : 'buttons-container'">
    <button *ngIf="!admin" class="buttons" routerLink="/theme-selection">Sélectionner un Theme</button>
    <button *ngIf="admin" class="buttons" routerLink="/theme-selection">Gerer les Themes</button>
    <button *ngIf="!admin" class="buttons" routerLink="/quiz-list/1">Quiz aléatoire</button>
    <button *ngIf="!admin" class="buttons" routerLink="/config/auto">Test de Calibrage</button>
    <button *ngIf="admin" class="buttons button-accueil" routerLink="/user-list">Gestion des Utilisateurs</button>
</div>
