<h1 id="title">Bienvenue sur PolyQuizz</h1>

<div [ngClass]="offset ? 'list' : 'buttons-container'">
    <button *ngIf="!admin" class="buttons" routerLink="/theme-selection">Sélectionner un thème</button>
    <button *ngIf="admin" class="buttons" routerLink="/theme-selection">Gérer les thèmes / quiz</button>
    <button *ngIf="!admin" class="buttons" routerLink="/quiz-list/1">Quiz aléatoire</button>
    <button *ngIf="!admin" class="buttons" routerLink="/config/auto">Test de calibrage</button>
    <button *ngIf="admin" class="buttons" routerLink="/user-list">Gestion des utilisateurs</button>
</div>
