<h1 id="title">Page de configuration manuelle</h1>

<a class="button-retour">Retour</a>

<div class="form">
    <label>Choisir une configuration</label>
    <form class="form" action="">
        <select name="config-choose">
            <option value="default">Default</option>
            <option value="other">Other</option>
        </select>
        <input class="button" type="submit" value="Valider">
    </form>
</div>

<div class="form">
    <label>Nommer la configuration</label>
    <form class="form" action="">
        <input type="text" placeholder="nom" name="config-text">
        <input type="text" placeholder="taille police" name="size-police">
        <input class="button" type="submit" value="Valider">
    </form>
</div>

<a class="button-accueil">Reinitialiser votre compte</a>
