<div class="page-quiz" *ngIf="question">

    <img src="{{question.image}}" alt="Image du Quiz" *ngIf="question.image">
    <div>
        <p>
            <label for="name">Saisir la Question</label>
            <textarea id="name" [(ngModel)]="question.label" maxlength="120" rows="3" cols="40"></textarea>
        </p>
        <p>
            <label for="image">Saisir le lien de l'image : </label>
            <textarea [(ngModel)]="question.image" rows="4" id="image"></textarea>
        </p>
    </div>
    <div class="answers">
        <div *ngFor="let answer of question.answers; let i=index">
            <button [ngClass]="answer.isCorrect ? 'correct buttons' : 'buttons'" (click)=isCorrect(answer.id)>
                <textarea [(ngModel)]="answer.value" rows="2" cols="30" maxlength="60"></textarea>
            </button>
        </div>
    </div>
    <div>
        <p>La bonne réponse est surlignée en vert. Cliquez sur une réponse pour la sélectionner comme correcte.</p>
    </div>
    <button type="submit" class="buttons" (click)="editQuestion()">Valider</button>
</div>
