@import '../../../styles.scss';

h1{
  text-align: center;
}

.quiz-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-quiz{
  width: fit-content;
}

inline{
  width: fit-content;
}
