<button class="button-retour" routerLink="/accueil">Retour</button>

<h1> Selectionnez un Thème !</h1>

<button class="buttons add" *ngIf="this.userService.isRoleAdmin()" (click)="addTheme()">Ajouter un thème</button>

<div class="theme-selection" ><!--*ngClass=""-->
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <app-theme *ngFor="let theme of themeList"
                   [theme]="theme"
                   (themeSelected)="themeSelected($event)"
                   (editTheme)="editTheme($event)"
                   (deleteTheme)="deleteTheme($event)">
        </app-theme>
</div>
