@import '../../../styles.scss';

h1{
  text-align: center;
}

.theme-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-theme{
  width: fit-content;
}

.list{

}
img{
  height: auto;
  width: auto;
}
