<div class="card" >
    <h2>
        <i class="fab fa-leanpub"></i>
        {{question.label}}
    </h2>
    <ul class="answers">
        <li class="liste" *ngFor="let answer of question.answers">
            <button class="buttons answer"
                    [class.select]="answer === selectedAnswer"
                    [class.correct]="correction && answer.isCorrect"
                    [class.error]="correction && !answer.isCorrect"
                    (click)="selected(answer)">{{answer.value}}</button>
        </li>
    </ul>
    <button class="buttons" (click)="verify()" *ngIf="!correction">Valider</button>
</div>
