<div class="card" >
    <div class="meta">
        <h2 [ngClass]="offset ? 'offset':'text'">{{question.label}}</h2>
        <img src="{{question.image}}" *ngIf="question.image">
    </div>
    <div [ngClass]="offset ? 'list' : 'answers'">
        <div *ngFor="let answer of question.answers">
            <button class="buttons answer"
                    [class.select]="answer === selectedAnswer"
                    [class.correct]="correction && answer.isCorrect"
                    [class.error]="correction && !answer.isCorrect"
                    (click)="selected(answer)">{{answer.value}}</button>
        </div>
    </div>
    <button class="buttons" (click)="verify()" *ngIf="!correction">Valider</button>
</div>
