@import '../../../styles.scss';

h2{
 text-align: center;
}

.theme{
  background-color: #ffaa71;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

img{
  display: flex;
  width: auto;
}
