.bonne-reponse {
  width: 394px;
  height: 114px;
  border-radius: 36px;
  border: 1px solid #797979;
  background-color: #1e98d7;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.bonne-reponse #reponse {
  width: 219px;
  height: 62px;
}

.bonne-reponse p{
  width: 0px;
  height: 0px;
  text-align: right;
  justify-content: flex-end;
}
