<div class="meta">
    <button class="button-retour" (click)="retour()">Retour</button>
    <button class="buttons end" (click)="validQuiz()">Valider</button>

</div>
<div class="display">
    <div class="center">
        <img src="{{quiz.image}}" alt="Image du Quiz" *ngIf="quiz.image">
        <p>
            <label for="image">Saisir le lien de l'image</label>
            <textarea [(ngModel)]="quiz.image" rows="4" id="image"></textarea>
        </p>
    </div>
    <div class="center">
        <p>
            <label for="name">Saisir le nom</label>
            <textarea id="name" [(ngModel)]="quiz.name" maxlength="20" rows="1"></textarea>
        </p>
        <p>
            Difficulté :
            <select [(ngModel)]='quiz.difficulte'>
                <option value="1">Facile</option>
                <option value="2">Normal</option>
                <option value="3">Difficile</option>
            </select>
        </p>
        <p>
            Theme :
            <select [(ngModel)]="quiz.theme">
                <option *ngFor="let theme of themeList" [value]="theme.id">{{theme.name}}</option>
            </select>
        </p>
    </div>
    <div class="center">
        <button class="buttons" (click)="validate()">Liste des questions</button>
    </div>
</div>

