@import '../../../styles.scss';

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .3em;
}

img{
  display: flex;
  width: auto;
  max-height: 150px;
}

option, select, input{
  font-size: $font-size;
  font-family: $font;
  margin: .1em;
  padding: .2em;
}

p{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  resize: none;
}

.display{
  background-color: #ffaa71;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.meta{
  display: flex;
  justify-content: space-between;
}
