<div class="header">
    <button class="button-retour" routerLink="/config">Retour</button>
    <button class="buttons reset" (click)="resetDefaultConfig()">Réinitialiser vos paramètres</button>
</div>
<div>
    <h1 id="title">Page de configuration</h1>
</div>
<div class="page">
    <div [ngClass]="offset ? 'list':'form'">
        <button class="buttons start" (click)="configList()">Choisir une configuration</button>
        <button class="buttons end" (click)="configForm()">Ajouter une configuration</button>
    </div>
</div>
