@import '../../../styles.scss';

.header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  column-gap: 30%;
  align-items: flex-start;
}

#title {
  text-align: center;
}

.listes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




