@import '../../../styles.scss';

.header {
  margin: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 30%;
  align-items: flex-start;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#title {
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offset{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80%;
  border: red 3px solid;
}

.reset{
  font-size: 48px;
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}




