@import '../../../styles.scss';

.header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  column-gap: 30%;
  align-items: flex-start;
}

#title {
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offset{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80%;
  border: red 3px solid;
}

.reset{
  font-size: 48px;
  width: 90%;
  padding: 10px;
  margin: 10px;
}




