<div class="page">
    <div class="header">
        <a class="button-retour">Retour</a>
        <h1 id="title">Page de configuration manuelle</h1>
    </div>

    <app-configurations-list class="list"></app-configurations-list>

    <app-configuration-form class="form"></app-configuration-form>

    <div class="footer">
        <h2>Pour remettre la configuration par défaut</h2>
        <button class="buttons" (click)="resetDefaultConfig()">Reinitialiser vos paramètres</button>
    </div>
</div>
