<div class="quiz">
    <h2>
        {{quiz.name}}
    </h2>
    <img src="{{quiz.image}}" *ngIf="quiz.image">
    <div>
        <p>Questions : {{quiz.questions.length}}</p>
        <p>Difficulté : {{difficulte}} </p>
    </div>
    <div>
        <button class="buttons select" routerLink="/play-quiz/{{quiz.id}}" *ngIf="!admin">Sélectionner</button>
        <button class="buttons" *ngIf="this.userService.isRoleAdmin()" (click)="delete()">Supprimer</button>
        <button class="buttons edit" *ngIf="this.userService.isRoleAdmin()" routerLink="/edit-quiz/{{quiz.id}}">Modifier</button>
    </div>
</div>
