@import '../../../styles.scss';

h2{
  text-align: center;
}

.edit {
  margin-left: 0.3em;
}

.quiz{
  background-color: #ffaa71;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  display: flex;
  width: auto;
}
