<button class="button-retour" routerLink="/user-list">Retour</button>

<div class="card" *ngIf="user">
    <h2>Modifiez un utilisateur</h2>
    <div >
        <p class="firstName">
            Prénom : <input [(ngModel)]="user.firstName">
        </p>

        <p>
            <label for="lastName">Nom : </label>
            <input id="lastName" [(ngModel)]="user.lastName">
        </p>
    </div>
    <div class="example-radio-group">
        <input type="radio" name="roleSelection" value="user" [(ngModel)]="user.role"> Utilisateur
        <input type="radio" name="roleSelection" value="admin" [(ngModel)]="user.role"> Administrateur
    </div>

    <input type="password" placeholder="Votre mot de passe" *ngIf="user.role === 'admin'" [(ngModel)]="user.password">
    <button type="submit" class="buttons" (click)="editUser()">Valider</button>
</div>
