<button class="button-retour" routerLink="/user-list">Retour</button>

<div class="card" *ngIf="user">
    <h2>Modifiez un utilisateur</h2>
    <div class="firstName">
        <p>
            Prénom : <input [(ngModel)]="user.firstName">
        </p>
    </div>
    <div class="lastName">
        <p>
            Nom : <input [(ngModel)]="user.lastName">
        </p>
    </div>
    <br>
    <mat-radio-group label="Sélectionnez un type de compte">
        <mat-radio-button value="1">Utilisateur</mat-radio-button>
        <br>
        <mat-radio-button value="2">Administrateur</mat-radio-button>
    </mat-radio-group>
    <br>
    <button type="submit" class="buttons" (click)="editUser()">Valider</button>
</div>
