@import '../../../styles.scss';

.edit {
  margin-left: 0.3em;
}

#select_button, #delete_button {
  margin: 0;
  padding: 0.3em;
  border-radius: 0;
  border: solid black 0.1em;
}

.config {
  background-color: #FFF196;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}
