<button class="button-retour" routerLink="/accueil">Retour</button>

<div class="card" *ngIf="theme">
    <h2>Modifiez un Thème !</h2>
    <div class="name">
        <p>
            Nom : <input [(ngModel)]="theme.name">
        </p>
    </div>
        <div>
            <img src="{{theme.image}}" height="50" width="150" alt="Image du Quiz" *ngIf="theme.image">
            <label for="image">Saisir le lien de l'image</label>
            <input [(ngModel)]="theme.image" id="image">
        </div>
        <br>
        <button type="submit" class="buttons" (click)="editTheme()">Valider</button>
</div>
