@import '../../../styles/card.scss';

#Image-de-la-question p{
  width: 216px;
  height: 22px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #373a3c;
  text-align: left;
  line-height: normal;
}

#question {
  width: 394px;
  height: 62px;
  padding: 2px 2px 2px 2px;
  border: 1px solid #797979;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Arial Normal", "Arial", sans-serif;
  color: #999999;
  text-align: left;
}

