@import '../../../styles.scss';


.edit{
  display: flex;
  flex-wrap: wrap;
}

.container{
  display: flex;
}

.meta{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display{
  background-color: #ffaa71;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
}

