@import '../../../styles.scss';
@import '../../../styles/card.scss';


.edit{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
}

.display{
  padding: .5em;
}

.list{
  flex-grow: 1;
  border : red 3px solid;
}

