@import '../../../styles.scss';

textarea{
  resize: none;
}

option{
  font-size: $font-size;
  font-family: $font;
}

select{
  font-size: $font-size;
  font-family: $font;
  margin: .2em;
  padding: .4em;
}

.element{
  padding: .2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list{
  justify-content: space-around;
  width: 50%;
}


