@import '../../../styles.scss';

.form {
  display: flex;
  flex-direction: column;
  margin : 20px;
  justify-content: flex-start;
}

.form-elem {
  width: 25%;
}

.div-form {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

